body {
  background-color: #1b262c;
}
h6{
  padding-top: 70px;

}

.topic{
  color:#e84a5f;
}

.keyword{
  color:#e84a5f;
}

.UserSpec{
  color:white;
}

.datatype{
  color:#0e9aa7;
}

.values{
  color:#b6eb7a;
}
